monetra-extract-transaction.json.json
{
  "name": "Monetra - Extract Transaction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-transaction",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Extract Transaction",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "monetra-extract-transaction"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\n\nconst type = String(body.type || '').trim().toLowerCase();\nconst text = String(body.text || '').trim();\nconst source_name = String(body.source_name || 'manual input').trim();\n\nif (!['expense', 'money_saving'].includes(type)) {\n  throw new Error('type harus expense atau money_saving');\n}\n\nif (!text) {\n  throw new Error('text wajib diisi');\n}\n\nreturn [{ json: { type, text, source_name } }];"
      },
      "id": "2",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.type}}",
                    "rightValue": "expense",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.type}}",
                    "rightValue": "money_saving",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Switch Transaction Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "prompt",
              "value": "Ekstrak transaksi berikut menjadi JSON valid.\n\nKategori transaksi: expense\n\nAturan:\n- Kembalikan HANYA JSON\n- Jangan tambahkan penjelasan\n- Jika tidak yakin, isi string kosong\n- amount harus angka tanpa pemisah ribuan\n- date format YYYY-MM-DD jika bisa dikenali\n- type harus selalu \"expense\"\n\nFormat JSON:\n{\n  \"type\": \"expense\",\n  \"amount\": 0,\n  \"description\": \"\",\n  \"category\": \"\",\n  \"date\": \"\",\n  \"merchant\": \"\",\n  \"payment_method\": \"\",\n  \"notes\": \"\"\n}\n\nTeks transaksi:\n{{$json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Set Expense Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "prompt",
              "value": "Ekstrak transaksi berikut menjadi JSON valid.\n\nKategori transaksi: money_saving\n\nAturan:\n- Kembalikan HANYA JSON\n- Jangan tambahkan penjelasan\n- Jika tidak yakin, isi string kosong\n- amount harus angka tanpa pemisah ribuan\n- date format YYYY-MM-DD jika bisa dikenali\n- type harus selalu \"money_saving\"\n\nFormat JSON:\n{\n  \"type\": \"money_saving\",\n  \"amount\": 0,\n  \"description\": \"\",\n  \"category\": \"saving\",\n  \"date\": \"\",\n  \"goal_name\": \"\",\n  \"payment_method\": \"\",\n  \"notes\": \"\"\n}\n\nTeks transaksi:\n{{$json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5",
      "name": "Set Money Saving Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        380
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "6",
      "name": "Merge Prompt",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-ISI_API_KEY_KAMU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": $json.prompt\n    }\n  ],\n  \"temperature\": 0.2\n}",
        "options": {}
      },
      "id": "7",
      "name": "Call AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices?.[0]?.message?.content || '{}';\n\nlet text = String(raw).trim();\nconst start = text.indexOf('{');\nconst end = text.lastIndexOf('}');\nif (start !== -1 && end !== -1 && end > start) {\n  text = text.slice(start, end + 1);\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error: 'Gagal parse JSON dari AI',\n      raw_response: raw\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    source_name: $('Validate Input').first().json.source_name,\n    raw_text: $('Validate Input').first().json.text,\n    data: parsed\n  }\n}];"
      },
      "id": "8",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.data.type}}",
                    "rightValue": "expense",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.data.type}}",
                    "rightValue": "money_saving",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "9",
      "name": "Switch Final Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "ISI_SPREADSHEET_ID_KAMU",
        "sheetName": "Expense",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{$now}}",
            "source_name": "={{$json.source_name}}",
            "type": "={{$json.data.type}}",
            "amount": "={{$json.data.amount}}",
            "description": "={{$json.data.description}}",
            "category": "={{$json.data.category}}",
            "date": "={{$json.data.date}}",
            "merchant": "={{$json.data.merchant}}",
            "payment_method": "={{$json.data.payment_method}}",
            "notes": "={{$json.data.notes}}",
            "raw_text": "={{$json.raw_text}}"
          }
        },
        "options": {}
      },
      "id": "10",
      "name": "Add Expense Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2140,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ISI_CREDENTIAL_ID_KAMU",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "ISI_SPREADSHEET_ID_KAMU",
        "sheetName": "Money Saving",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{$now}}",
            "source_name": "={{$json.source_name}}",
            "type": "={{$json.data.type}}",
            "amount": "={{$json.data.amount}}",
            "description": "={{$json.data.description}}",
            "category": "={{$json.data.category}}",
            "date": "={{$json.data.date}}",
            "goal_name": "={{$json.data.goal_name}}",
            "payment_method": "={{$json.data.payment_method}}",
            "notes": "={{$json.data.notes}}",
            "raw_text": "={{$json.raw_text}}"
          }
        },
        "options": {}
      },
      "id": "11",
      "name": "Add Money Saving Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2140,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ISI_CREDENTIAL_ID_KAMU",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"source_name\": $json.source_name,\n  \"data\": $json.data\n}",
        "options": {}
      },
      "id": "12",
      "name": "Respond Extract Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2380,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Extract Transaction": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Switch Transaction Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Transaction Type": {
      "main": [
        [
          {
            "node": "Set Expense Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Money Saving Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Expense Prompt": {
      "main": [
        [
          {
            "node": "Merge Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Money Saving Prompt": {
      "main": [
        [
          {
            "node": "Merge Prompt",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Prompt": {
      "main": [
        [
          {
            "node": "Call AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Switch Final Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Final Type": {
      "main": [
        [
          {
            "node": "Add Expense Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Money Saving Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Expense Row": {
      "main": [
        [
          {
            "node": "Respond Extract Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Money Saving Row": {
      "main": [
        [
          {
            "node": "Respond Extract Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "meta": {
    "instanceId": "monetra-clean"
  },
  "tags": []
}